<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p> Site made in <a href="http://getgrav.org">Grav</a>
        </i> by yours truly. Reach out @ shreydeshpande@gmail.com</p>
    </section>
</section>
